<div class="p-3 mb-2 bg-light text-dark">
    <div class="container">
        <div class="row">
        <%= link_to "問い合わせフォーム" , "https://forms.gle/yZK8xjwoSPkYzrny7", class: 'text-start col-4' %>
        <%= link_to "プライバシーポリシー", "https://www.kiyac.app/privacypolicy/FNinBuodm4Uv9bWtxGPQ", class: 'text-center col-4' %>
        <%= link_to "利用規約" , "/terms_of_service", class: 'text-end col-4' %>
        </div>
    </div>
</div>