<div class="p-3 mb-2 bg-secondary text-white">
    <div class="mx-auto" style="width: 200px;">
        <h2><%= t('defaults.top')%></h2>
    </div>
    <h3><%= t('defaults.limit') %></h3>
    <div class="mx-auto" style="width: 200px;"><button>
    <%= link_to t('defaults.try_service'),recipes_new_path %></button></div>
</div>
