<div class="p-3 mb-2 bg-secondary text-white">
    <div class="mx-auto" style="width: 200px;">
        <h2>説明文</h2>
    </div>
    <h3>レシピの検索回数は３回までです。</h3>
    <div class="mx-auto" style="width: 200px;"><button>
    <%= link_to "早速使ってみる",recipes_new_path %></button></div>
</div>